[Desktop Entry]
Type=Application
Version=1.0
Name=Soundboy
Comment=Raspberry Pi groovebox
Exec=/home/soundboy1/seq1/scripts/run-seq1.sh
Path=/home/soundboy1/seq1
Icon=applications-multimedia
Terminal=false
Categories=AudioVideo;Audio;Music;
StartupNotify=false
